<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.japanese_idol_female_team">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".akb48_random"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".nogizaka46_member_introduction"
            android:screenOrientation="portrait"/>
        <activity android:name=".nogizaka46_random"
            android:screenOrientation="portrait"/>
        <activity android:name=".nogizaka46"
            android:screenOrientation="portrait"/>
        <activity android:name=".akb48"
            android:screenOrientation="portrait"/>
        <activity android:name=".two"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>